#wrapper a {
  text-decoration: none;
}
#wrapper #header .headTop {
  background: #eaeaea;
  height: 30px;
}
#wrapper #header .headTop .headTopMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}
#wrapper #header .headTop .headTopMain .left {
  display: flex;
  height: 30px;
  gap: 15px;
  align-items: center;
}
#wrapper #header .headTop .headTopMain .left p {
  font-size: 0;
}
#wrapper #header .headTop .headTopMain .left p a {
  font-size: 12px;
  padding-left: 5px;
}
#wrapper #header .headTop .headTopMain .left p a:first-child {
  border-right: 1px solid #b3aeae;
  padding-right: 5px;
}
#wrapper #header .headTop .headTopMain .right {
  display: flex;
  height: 30px;
  box-sizing: border-box;
}
#wrapper #header .headTop .headTopMain .right nav {
  display: flex;
  align-items: center;
  font-size: 0;
}
#wrapper #header .headTop .headTopMain .right nav a {
  border-right: 1px solid #b3aeae;
  padding: 0 10px;
  font-size: 12px;
}
#wrapper #header .headTop .headTopMain .right nav a:last-child {
  padding-right: 0;
  border-right: none;
}
#wrapper #header .headBottom .headBottomMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
#wrapper #header .headBottom .headBottomMain .logo a img {
  height: 56px;
  width: 175px;
  margin: 25px 45px;
}
#wrapper #header .headBottom .headBottomMain .search input:first-child {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0 4px;
  border: 3px solid #ea4a36;
}
#wrapper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  color: #fff;
  background-color: #ea4a36;
  border: none;
}
#wrapper #navWrap {
  border-bottom: 2px solid #e1251b;
}
#wrapper #navWrap .navWrapMain {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 44px;
}
#wrapper #navWrap .navWrapMain a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
}
#wrapper #navWrap .navWrapMain a:first-child {
  width: 210px;
  height: 50px;
  background: #e1251b;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#wrapper #content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#wrapper #content .contentMain #navPath {
  padding: 9px 15px 9px 0;
  font-size: 0;
}
#wrapper #content .contentMain #navPath a {
  font-size: 12px;
}
#wrapper #content .contentMain #navPath i {
  padding: 0 5px;
  font-size: 12px;
}
#wrapper #content .contentMain #center {
  display: flex;
  margin: 5px 0 15px;
  gap: 110px;
}
#wrapper #content .contentMain #center #left {
  display: flex;
  flex-direction: column;
}
#wrapper #content .contentMain #center #left .leftTop {
  position: relative;
  display: flex;
}
#wrapper #content .contentMain #center #left .leftTop .smallPic {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
}
#wrapper #content .contentMain #center #left .leftTop .smallPic img {
  width: 400px;
  height: 400px;
}
#wrapper #content .contentMain #center #left .leftTop .smallPic .mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  box-sizing: border-box;
  transition: opacity 0.2s ease;
}
#wrapper #content .contentMain #center #left .leftTop .bigPic {
  position: absolute;
  left: 420px;
  top: 0;
  display: none;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
#wrapper #content .contentMain #center #left .leftTop .bigPic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
}
#wrapper #content .contentMain #center #left .leftBottom {
  width: 400px;
  margin-top: 5px;
  display: flex;
  font-size: 0;
}
#wrapper #content .contentMain #center #left .leftBottom a {
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  font-size: 12px;
  background: #ebebeb;
  text-align: center;
  line-height: 54px;
}
#wrapper #content .contentMain #center #left .leftBottom a:first-child {
  margin-right: 4px;
}
#wrapper #content .contentMain #center #left .leftBottom a:last-child {
  margin-left: 4px;
}
#wrapper #content .contentMain #center #left .leftBottom .picList {
  display: flex;
  width: 368px;
  height: 56px;
  overflow: hidden;
}
#wrapper #content .contentMain #center #left .leftBottom .picList ul {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}
#wrapper #content .contentMain #center #left .leftBottom .picList ul li {
  display: flex;
  width: 73px;
  flex: 0 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
#wrapper #content .contentMain #center #left .leftBottom .picList ul li img {
  width: 50px;
  height: 50px;
  padding: 4px;
  border: 1px solid #CCC;
  box-sizing: border-box;
}
#wrapper #content .contentMain #center #right {
  width: 700px;
}
#wrapper #content .contentMain #center #right .rightTop h3 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}
#wrapper #content .contentMain #center #right .rightTop > p {
  color: #e12228;
  margin-top: 15px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap {
  margin-top: 10px;
  background-color: #fee9ec;
  padding: 7px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceTop {
  display: flex;
  justify-content: space-between;
  line-height: 28px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceTop > span {
  margin-right: 15px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price {
  display: flex;
  color: #cc1122;
  margin-right: auto;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price > span {
  font-size: 16px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price > p {
  font-size: 24px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceTop .price i {
  font-size: 12px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom {
  display: flex;
  line-height: 28px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom > span {
  margin-right: 15px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom p {
  width: 520px;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom p span:first-child {
  background-color: #c81623;
  padding: 3px;
  color: #fff;
}
#wrapper #content .contentMain #center #right .rightTop .priceWrap .priceBottom p span:last-child {
  color: #999;
}
#wrapper #content .contentMain #center #right .rightTop .support {
  display: flex;
  padding-top: 10px;
  line-height: 28px;
}
#wrapper #content .contentMain #center #right .rightTop .support > span {
  margin-right: 15px;
}
#wrapper #content .contentMain #center #right .rightTop .support > p {
  width: 520px;
  color: #999;
}
#wrapper #content .contentMain #center #right .rightTop .address {
  display: flex;
  padding-top: 10px;
  line-height: 28px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}
#wrapper #content .contentMain #center #right .rightTop .address > span {
  margin-right: 15px;
}
#wrapper #content .contentMain #center #right .rightTop .address > p {
  width: 520px;
  color: #999;
}
#wrapper #content .contentMain #center #right .rightBottom {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  line-height: 28px;
}
#wrapper #content .contentMain #center #right .rightBottom .choose dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
}
#wrapper #content .contentMain #center #right .rightBottom .choose dl > div {
  display: flex;
}
#wrapper #content .contentMain #center #right .rightBottom .choose dl dt {
  margin-right: 15px;
}
#wrapper #content .contentMain #center #right .rightBottom .choose dl dd {
  margin-right: 5px;
  color: #666;
  line-height: 24px;
  padding: 2px 14px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
#wrapper #content .contentMain #center #right .rightBottom .choose dl dd:first-of-type {
  color: red;
}
